<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="static/assets/logo.png">
<title>Kumpares PH Admin Website</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/admin.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/filter.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- chart.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"
     integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>

<style>
    .chartBox {
        width: 600px;
        padding: 20px;
    }
    
</style>

<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        <span class="title"><h3>Administrator</h3></span>
                    </a>
                </li>
                <li>
                    <a href="/admin">
                        <span class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/profile">
                        <span class="icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                        <span class="title">Profile</span>
                    </a>
                </li>
                <li>
                    <a class="active">
                        <span class="icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                        <span class="title">Feedback</span>
                    </a>
                    <ul>
                        <div class="csat"><a onclick="window.location.href='/prodfeedback';">Feedback on Products</a></div>
                        <div class="csat"><a onclick="window.location.href='/servfeedback';">Feedback on Services</a></div>
                    </ul>
                </li>
                <li>
                    <a href="/settings">
                        <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        <span class="title">Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="navbar">
                <div class="toggle" onclick="toggleMenu();"> </div><h1>Customer Feedback</h1>
            </div>
        
            <div class="wrapper">
                <div class="menu">
                    <select id="name">
                        <option value="variety">Variety</option>
                        <option value="presentation">Presentation</option>
                        <option value="quality">Quality</option>
                    </select>
                </div>

                <div class="content">
                    <div id="variety" class="data">
                        <div class="col-xs-10 col-sm-6 col-md-6">
                            <div class="card card-style mb-2">
                                <div class="card-body">
                                    <div class="chart-container" style="position: relative; width: 800px; padding: 20px;">
                                        <canvas id="variety_category"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="variety_score"> Variety Satisfaction Score: {{variety_score}}%</h1><br>                       
                        <h4 class="variety_recommendation">Analysis: {{variety_reccomendation}}</h4>
                        <!--
                        <div class="skill">
                            <div class="outer">
                                <div class="inner">
                                    <div id="number">
                                        {{variety_score}}%
                                    </div>
                                </div>
                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                                <defs>
                                   <linearGradient id="GradientColor">
                                      <stop offset="0%" stop-color="#e91e63" />
                                      <stop offset="100%" stop-color="#673ab7" />
                                   </linearGradient>
                                </defs>
                                <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                            </svg> 

                        </div>
                        -->
                        <!--
                        <div class="circular">
                            <div class="circular-progress">
                              <div class="value-container">0%</div>
                            </div>
                        </div>
                        -->
                    </div>

                    <div id="presentation" class="data">
                        <div class="col-xs-10 col-sm-6 col-md-6">
                            <div class="card card-style mb-2">
                                <div class="card-body">
                                    <div class="chart-container" style="position: relative; width: 800px; padding: 20px;">
                                        <canvas id="presentation_category"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="presentation_score"> Presentation Satisfaction Score: {{presentation_score}}%</h1><br>
                        <h4 class="presentation_recommendation">Analysis: {{presentation_reccomendation}}</h4>
                    </div>

                    <div id="quality" class="data">
                        <div class="col-xs-10 col-sm-6 col-md-6">
                            <div class="card card-style mb-2">
                                <div class="card-body">
                                    <div class="chart-container" style="position: relative; width: 800px; padding: 20px;">
                                        <canvas id="quality_category"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="quality_score"> Quality Satisfaction Score: {{quality_score}}%</h1>
                        <h4 class="quality_recommendation">Analysis: {{quality_reccomendation}}</h4>
                    </div>   
                </div>

            </div>

            <div class="container feedback-table" style="margin-left: auto; margin-right: auto;">
                <div class="heading">
                    <h2 class="table-title">Kumpares Customer Feedback</h2>
                    <form action="" method="get">
                        <input type="text" class="form-control" name="z" placeholder="Search here..." id="myInput" onkeyup="searching()">      
                    </form>

                    <div>
                        <button onclick="window.location.href='/csatprod';">Customer Satisfaction</button>
                    </div>

                    <div>
                        <button onclick="window.location.href='/admin';">Customer Retention</button>
                    </div>
                </div>

            <div class="table">
                <table id="fb-table" class="table">
                    <thead>
                        <tr>
                            <th col-index = 1>Customer Name</th>
                            <th col-index = 2>Branch
                                <select class="table-filter" onchange="filter_rows()">
                                    <option value="all"></option>
                                </select>
                            </th>
                            <th col-index = 3>Variety
                                <select class="table-filter" onchange="filter_rows()">
                                    <option value="all"></option>
                                </select>
                            </th>
                            <th col-index = 4>Presentation
                                <select class="table-filter" onchange="filter_rows()">
                                    <option value="all"></option>
                                </select>
                            </th>
                            <th col-index = 5>Quality
                                <select class="table-filter" onchange="filter_rows()">
                                    <option value="all"></option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for prods in prod %}
                        <tr>
                            <td>{{prods.custname}}</td>
                            <td>{{prods.branch}}</td>
                            <td>{{prods.fb_variety}}</td>
                            <td>{{prods.fb_presentation}}</td>
                            <td>{{prods.fb_quality}}</td>
                        </tr>
                        {% endfor %}
                                      
                    </tbody>
                </table>  
                </div>

        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#name").on('change', function(){
                $(".data").hide();
                $("#" + $(this).val()).fadeIn(700);
            }).change();
        });
    </script>
<!--    
    <script>
        let number = document.getElementById("number");
        let counter = 0;

        setInterval(() => {
            if(counter == 65){
                clearInterval();
            } else{
                counter += 1;
                number.innerHTML = counter + "%";
            }
           
        }, 30);
    </script>
-->
<!--
    <script>
        //let variety_category_data = JSON.parse({{ variety_category | tojson}})
        let progressBar = document.querySelector(".circular-progress");
        let valueContainer = document.querySelector(".value-container");

        let progressValue = 0;
        let progressEndValue = JSON.parse({{ v_score | tojson}});
        let speed = 50;

        let progress = setInterval(() => {
        progressValue++;
        valueContainer.textContent = `${progressValue}%`;
        progressBar.style.background = `conic-gradient(
            #4d5bf9 ${progressValue * 3.6}deg,
            #cadcff ${progressValue * 3.6}deg
        )`;
        if (progressValue == progressEndValue) {
            clearInterval(progress);
        }
        }, speed);
    </script>
-->
    <script>
        function toggleMenu(){
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');

        }
    </script>

                <!--Search Bar Filter-->
    <script>
        $(document).ready(function(){
        $("#myInput").on("keyup", function(){
            var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function(){
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
            });
    </script>

    <script>

        let click = document.querySelector('.click');

        let list = document.querySelector('.list');

        click.addEventListener("click",()=>{

            list.classList.toggle('newlist');

        });

    </script>

    <script>
        const button1 = document.getElementById("btn1");
        const list1 = document.getElementById("list1");

        list1.style.display = "none";
        button1.addEventListener("click", (event) => {
            if (list1.style.display =="none") {
                list1.style.display = "block";
            } else {
                list1.style.display = "none";
            }
        });
    </script>

    <script>
        
        window.onload = () => {
            console.log(document.querySelector("#fb-table > tbody > tr:nth-child(1) > td:nth-child(2) ").innerHTML);
        };

        getUniqueValuesFromColumn()
    </script>

    

<!--
<script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Positive', 'Negative'],
                datasets: [{
                    label: 'Products Charts',
                    data: [4, 6],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    
    const coffeesales = document.getElementById('coffeesales');
    coffeesales.addEventListener('change', salesTracker);
    function salesTracker(){
        const label = coffeesales.options[coffeesales.selectedIndex].text;
        myChart.data.datasets[0].label = label;
        myChart.data.datasets[0].data = coffeesales.value.split(',');
        
        myChart.update();
    }
    </script>
-->

<script>
    let variety_category_data = JSON.parse({{ variety_category | tojson}})
    let presentation_category_data = JSON.parse({{ presentation_category | tojson}})
    let quality_category_data = JSON.parse({{ quality_category | tojson}})
    
/*    Chart.scaleService.updateScaleDefaults('linear', {
            ticks: {
                min: 0
            }
    });
*/

    let variety_category_data_chart = new Chart(variety_category, {
            type: 'bar',
            data: {
                labels: ['Very Unsatisfied', 'Unsatisfied', 'Neutral', 'Satisfied', 'Very Satisfied'],
                datasets: [{
                    label: "Variety Rating",
                    data: variety_category_data,
            backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68', '#B276B2', '#E16851'],
            borderWidth: 1,
            hoverBorderColor: "black",
            hoverBorderWidth: 2,
            hoverBackgroundColor: 'rgba(154, 245, 140)',
            pointHoverRadius: 5
        }],
            },
        options: {
                title: {
                    display: true,
                        text: "Product Variety Rating",
                            fontSize: 20,
            },
                legend: {
                    position: "right",
                        labels: {
                        fontColor: "gray"
                    },
                    display: true,
            },

                elements: {
                    hitRadius: 3,
            }
            }
            
        });

        let presentation_category_data_chart = new Chart(presentation_category, {
            type: 'bar',
            data: {
                labels: ['Very Unsatisfied', 'Unsatisfied', 'Neutral', 'Satisfied', 'Very Satisfied'],
                datasets: [{
                    label: "Product Presentation Rating",
                    data: presentation_category_data,
            backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68', '#B276B2', '#E16851'],
            borderWidth: 1,
            hoverBorderColor: "black",
            hoverBorderWidth: 2,
            hoverBackgroundColor: 'rgba(154, 245, 140)',
            pointHoverRadius: 5
        }],
            },
        options: {
                title: {
                    display: true,
                        text: "Presentation Rating",
                            fontSize: 20,
            },
                legend: {
                    position: "right",
                        labels: {
                        fontColor: "gray"
                    },
                    display: true,
            },

                elements: {
                    hitRadius: 3,
            }
            }
        });

        let quality_category_data_chart = new Chart(quality_category, {
            type: 'bar',
            data: {
                labels: ['Very Unsatisfied', 'Unsatisfied', 'Neutral', 'Satisfied', 'Very Satisfied'],
                datasets: [{
                    label: "Quality Rating",
                    data: quality_category_data,
            backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68', '#B276B2', '#E16851'],
            borderWidth: 1,
            hoverBorderColor: "black",
            hoverBorderWidth: 2,
            hoverBackgroundColor: 'rgba(154, 245, 140)',
            pointHoverRadius: 5
        }],
            },
        options: {
                title: {
                    display: true,
                        text: "Product Quality Rating",
                            fontSize: 20,
            },
                legend: {
                    position: "right",
                        labels: {
                        fontColor: "gray"
                    },
                    display: true,
            },

                elements: {
                    hitRadius: 3,
            }
            }
        });

</script>

<!--
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Positive', 'Negative'],
                datasets: [{
                    label: 'Products Charts',
                    data: [4, 6],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    
    const coffeesales = document.getElementById('coffeesales');
    coffeesales.addEventListener('change', salesTracker);
    function salesTracker(){
        const label = coffeesales.options[coffeesales.selectedIndex].text;
        myChart.data.datasets[0].label = label;
        myChart.data.datasets[0].data = coffeesales.value.split(',');
        
        myChart.update();
    }
    </script>
-->
</body>
</html>