<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <link rel="icon" href="static/assets/logo.png">
    <title>Kumpares PH Website</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudfare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <!--<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>-->
    <link href="static/index.css" rel="stylesheet">
</head>
<body>

<!--Navigation-->
<section id="home">
<div class="header"> 
    <div class="menu-bar">
        <nav class="navbar navbar-expand-sm navbar-light">
            <a class="navbar-brand" href="#home"><img src="static/assets/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#navigation">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#aboutus">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#promotions">Promotions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#location">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contactus">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login"><img src="static/assets/login.png"></a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
</div>
</section>


<!--Landing Page-->
<section id="home">
<div>
<figure class="txtcenter">
  <img class="mx-auto d-block" src="static/assets/f landing page.png">
  <div class="wrapper">
  <figcaption>
    <h1 class="display-2">Kumpares PH</h1>
    <hr>
    <h3>The first time unique lechon manok that comes with an egg, liver, and gizzard.</h3>
    <!--<button type="button" class="btn btn-outline-light btn-lg">Submit Feedback Now!</button>-->
    <button type="button" onclick="window.location.href='/formidentifier';" class="btn btn-primary btn-lg">Submit Feedback Now!</button>
  </figcaption>
  </div>
</figure>
</div>
</section>
<!--<div class="bg-image" style="background-image: url('assets/food.png'); height: 100vh;">
    <h1>Kumpares PH</h1>
    <h3>The first time unique lechon manok that comes with an egg, liver, and gizzard.</h3>
    <button type="button" class="btn btn-outline-light btn-lg">Submit Feedback Now!</button>
</div>
-->

<!--<div class="landing">-->
<!--<div class="container-fluid">-->
 <!--   <div class="view">
    <img class="img-fluid" src="assets/food.png">
    <div class="mask flex-center rgba-stylish-slight">
        <h1>Kumpares PH</h1>
            <h3>The first time unique lechon manok that comes with an egg, liver, and gizzard.</h3>
            <button type="button" class="btn btn-outline-light btn-lg">Submit Feedback Now!</button>
    </div>
    </div>-->
<!--</div>-->
<!--</div>-->

<!--About Us Cards-->
<!--<section id="aboutus">
  <br>
  <div class="about">
    <div class="text">
      <h4>About Us</h4>
      <hr>
    </div>
  </div>
</section>-->

<!--Kumpares Favorites Section-->
<br>
<div class="favoritesheader">
  <div class="col-12">
  <h1>Kumpares Favorites</h1>
  <hr>
  </div>
</div>
<br>

<section id="favorites">

  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-md-2 fav">
        <img onclick="window.location.href='/menu';" src="static/assets/lechon manok sample.png">
        <p>Kumpares Baked<br>Lechon Manok</p>
      </div>

      <div class="col-md-2 fav">
        <img onclick="window.location.href='/menu';" src="static/assets/chinese style fried chicken sample.png">
        <p>Chinese Style <br>Fried Chicken</p>
      </div>

      <div class="col-md-2 fav">
        <img onclick="window.location.href='/menu';" src="static/assets/liempo sample.png">
        <p>Baked Pork <br>Liempo</p>
      </div>

      <div class="col-md-2 fav">
        <img onclick="window.location.href='/menu';" src="static/assets/tapang baka sample.png">
        <p>Tapang Baka</p>
      </div>

      <div class="col-md-2 fav">
        <img onclick="window.location.href='/menu';" src="static/assets/pork sisig sample.png">
        <p>Pork Sisig</p>
      </div>

      <div class="col-md-2 fav">
        <img onclick="window.location.href='/menu';" src="static/assets/lechon paksiw sample.png">
        <p>Pork Lechon <br>Paksiw</p>
      </div>
    </div>
  </div>

</section>

<!-- Button trigger modal -->
<div class="viewmenu">
<button onclick="window.location.href='/menu';" type="button" class="btn btn-primary btn-lg" id="viewmenu">
  View Menu
</button>
<br>
</div>

<section id="aboutus">
  <div class="aboutusheader">
    <div class="col-12">
      <br>
    <h1>About Us</h1>
    <hr>
  </div>
  </div>
  <br> <br> 

  <div class="cpm" style="margin-bottom: 12%;">
    <div class="container">
      <div class="col-md-4">
        <div class="box">
          <div class="imgBx">
          <img src="static/assets/kumpares pacita.jpg">
        </div>
        <div class="content" style="background:  #eee3c5;">
          <h3 style="color: #BF360C; ">About Kumpares</h3>
          <p  style="color: #BF360C; ">Kumpares began in Cebu under the leadership of CEO Christian Bautista serving merely basic meals like tapsilog. With consistency and truth to its service, the business has fully grown into making the first time unique lechon manok that comes with an egg, liver, and gizzard. Currently, the branches in Poblacion and San Pedro are owned by Mr. Michael B. Rayco and managed by Mrs. Jennifer Sinamban. Additionally, 8 more branches are expected to open its services soon.</p>
              <!-- Button trigger modal -->
          <!--<button type="button" class="btn btn-success" data-bs-toggle="modal" id="myBtn" data-bs-target="#staticBackdrop">
            Proceed to Order
          </button>-->
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        <div class="imgBx">
          <img src="static/assets/mission.jpg">
        </div>
        <div class="content" style="background:  #eee3c5;">
          <h3 style="color: #BF360C;">Kumpares Mission</h3>
          <p style="color: #BF360C;">Kumpares PH aims to provide an amazing, and fun experience to their valued customers by satisfying their cravings with a unique style roasted chicken, pork, beef and other filipino specialties. Kumpares PH is here to serve food in a warm and friendly manner.</p>
             <!-- Button trigger modal -->
         <!--<button type="button" class="btn btn-success" data-bs-toggle="modal" id="myBtn2" data-bs-target="#staticBackdrop" >
           Proceed to Order-->
         </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        <div class="imgBx">
          <img src="static/assets/vision.jpg">
        </div>
        <div class="content" style="background:  #eee3c5;" >
          <h3 style="color: #BF360C;">Kumpares Vision</h3>
          <p style="color: #BF360C;">Kumpares PH envisions to be one of the top performing franchising and trusted food business with its best and unique roasted chicken in the Philippines. Furthermore, the business aims to keep Kumpares PH set its standard goals high at all times. </p>
              <!-- Button trigger modal -->
          <!--<button type="button" class="btn btn-success" data-bs-toggle="modal" id="myBtn3" data-bs-target="#staticBackdrop">
            Proceed to Order
          </button> -->
        </div>
      </div>
    </div>
    </div>
  </div>

</section>

<!--Video-->
<div class="wrapper">
  <div class="videowrapper">
    <iframe src="https://www.facebook.com/plugins/video.php?height=322&href=https%3A%2F%2Fwww.facebook.com%2Fparesngbayan%2Fvideos%2F1724501504569214%2F&show_text=false&width=560&t=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<!--<div class="video">
<div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="https://fb.watch/f0hzIL9yNg/"></iframe>
</div>
</div>-->
<!--<div class="col-12" style="margin-top: -10px; margin-bottom: 50px;">
<center><video controls autoplay muted src="https://www.facebook.com/plugins/video.php?height=322&href=https%3A%2F%2Fwww.facebook.com%2Fparesngbayan%2Fvideos%2F1724501504569214%2F&show_text=false&width=560&t=0" style="width: 100%; border: 25px solid; border-radius: 50px; border-color: transparent" controls></video></center>  
<center><iframe src="https://www.facebook.com/plugins/video.php?height=322&href=https%3A%2F%2Fwww.facebook.com%2Fparesngbayan%2Fvideos%2F1724501504569214%2F&show_text=false&width=560&t=0" width="800" height="650" style="border: 25px solid; border-radius: 50px; border-color: transparent; overflow:hidden"  allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe></center>
</div>-->

<!--Image Slider-->
<section id="promotions">
  <div class="promotionsheader">
    <div class="col-12">
    <h1>Kumpares Promotions</h1>
    <hr>
  </div>
  </div>
  <br> <br> 
  <div class=" carousel">
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="static/assets/promo1.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/assets/promo2.jpg">
    </div>
    <div class="carousel-item">
        <img src="static/assets/promo3.jpg">
    </div>
</div>
</div>
</div>
<br>
<br>
</section>
<br> <br> <br>

<!--Location-->

<section id="location">
  <div class="locationheader">
    <div class="col-12">
    <h1>Locations</h1>
    <hr>
  </div>
  </div>

  <div class="container">

    <div class="poblacion" id="poblacion">
      <ul class="tab-group">
        <li class="tab"><a href="#poblacion">Poblacion Branch</a></li>
        <li class="tab"><a href="#sanjos">Sanjos Branch</a></li>
      </ul>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d966.1668949961318!2d121.0414838291656!3d14.38863499840895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d19ed6c643cd%3A0xee1a5c063bef811a!2sEggStop-%20Poblacion%2C%20Muntinlupa!5e0!3m2!1sen!2sph!4v1661061239123!5m2!1sen!2sph" width="800" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
 
    <div class="sanjos" id="sanjos">
      <ul class="tab-group">
        <li class="tab"><a href="#poblacion">Poblacion Branch</a></li>
        <li class="tab"><a href="#sanjos">Sanjos Branch</a></li>
      </ul>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3865.7492107296134!2d121.01340571431727!3d14.325994887588969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d71449d810db%3A0xd45109105882398d!2sSANJOS%20Market!5e0!3m2!1sen!2sph!4v1661061909608!5m2!1sen!2sph" width="800" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>
  <br> <br> <br>
</section>


<!--Connect/Contact Us-->
<section id="contactus">

      <div class="contactusheader">
        <div class="col-12">
        <h1>Connect With Us</h1>
        <hr>
      </div>
      </div>
      <br> <br>

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12 social padding">
      <a href="https://www.facebook.com/KUMPARESBAKEDLECHONMANOKPACITA"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/KBLM_TFW"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/kumpares.franchise/?hl=en"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCZpEIwW9byv8ZbXWOtL3LoQ"><i class="fab fa-youtube"></i></a>
      <a href="https://foodpanda.page.link/Lu4D5N8Fr4q2Qqye6"><img class="foodpanda" style="width: 85px;" src="static/assets/foodpanda.png"></a>
    </div>
  </div>
</div>
<br> <br>

</section>

<!--Footer-->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
  <div class="col-md-4">
    <!--<img src="assets/footer.png" style="width: 180px">-->
    <div class="footercontainer">
    <div class="footerlogo">
      <img src="static/assets/logo.png" style="width: 60px">
      <h4>Kumpares PH</h4>
    </div>
    </div>
  
      <hr class="light">
      <p>Franchise Business Owner:</p>
      <p>Mr. Michael B. Rayco</p>
      <p>Kumpares PH Branches:</p>
      <p>Poblacion and San Pedro</p>
  </div>


  <div class="col-md-4">
    <hr class="light">
    <h5>Poblacion Branch</h5>
    <hr class="light">
    <div class="container-fluid footercont">
      <span><i class="fas fa-map-marker-alt"></i></span>
      <p>#45 Katihan St., Poblacion, Muntinlupa City</p>
    </div>

    <div class="container-fluid footercont">
      <span><i class="fas fa-clock"></i></span>
      <p>24 Hours (Monday-Sunday)</p>
    </div>
    
    <div class="container-fluid footercont">
      <span><i class="fas fa-phone-square-alt"></i></span>
      <p>+63 91-518-3252</p>
    </div>

    <div class="container-fluid footercont">
      <span><i class="fas fa-phone-square-alt"></i></span>
      <p>(02) 8236-3024</p>
    </div>

  </div>

  <div class="col-md-4">
      <hr class="light">
      <h5>Sanjos Branch</h5>
      <hr class="light">
      <div class="container-fluid footercont">
        <span><i class="fas fa-map-marker-alt"></i></span>
        <p>Sanjos Market, Langgam, San Pedro, Laguna</p>
      </div>
  
      <div class="container-fluid footercont">
        <span><i class="fas fa-clock"></i></span>
        <p>8:00 AM - 8:00 PM (Monday-Sunday)</p>
      </div>
      
      <div class="container-fluid footercont">
        <span><i class="fas fa-phone-square-alt"></i></span>
        <p>+63 91-518-3253</p>
      </div>
  
      <div class="container-fluid footercont">
        <span><i class="fas fa-phone-square-alt"></i></span>
        <p>(02) 8236-3024</p>
      </div>
  </div>

  <div class="col-12">
    <hr class="light-100">
    <h5>&copy; Kumpares PH</h5>
  </div>

</div>

</div>
</footer>

</body>
</html>