<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale-1">
        <link rel="icon" href="static/assets/logo.png">
        <title>Kumpares PH Website</title>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudfare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link href="static/login.css" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <div class="row px-3">
          <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
            <div class="img-left d-none d-md-flex"></div>
    
            <div class="card-body">
              <h4 class="title text-center mt-4">
                Login into Admin Account
              </h4>
              <form method="POST" class="form-box px-3">
                <div class="form-input">
                  <span><i class="fa fa-envelope"></i></span>
                  <input type="email" name="email" placeholder="Email Address" tabindex="10" required>
                </div>
                <div class="form-input">
                  <span><i class="fa fa-key"></i></span>
                  <input type="password" name="password" placeholder="Password" required>
                </div>
    
                <!--<div class="mb-3">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cb1" name="">
                    <label class="custom-control-label" for="cb1">Remember me</label>
                  </div>
                </div>
                -->

                <div class="mb-3">
                  <button type="submit" class="btn btn-block text-uppercase">
                    Login
                  </button>
                </div>
    
                <div class="text-right">
                  <a href="#" class="forget-link">
                    Forget Password?
                  </a>
                </div>
    
                <!--
                    <div class="text-center mb-3">
                  or login with
                </div>
    
                <div class="row mb-3">
                  <div class="col-4">
                    <a href="#" class="btn btn-block btn-social btn-facebook">
                      facebook
                    </a>
                  </div>
    
                  <div class="col-4">
                    <a href="#" class="btn btn-block btn-social btn-google">
                      google
                    </a>
                  </div>
    
                  <div class="col-4">
                    <a href="#" class="btn btn-block btn-social btn-twitter">
                      twitter
                    </a>
                  </div>
                </div>
    
                <hr class="my-4">
    
                <div class="text-center mb-2">
                  Don't have an account?
                  <a href="#" class="register-link">
                    Register here
                  </a>
                </div>
            -->
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>